{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 90,
	"semi": true,
	"tabWidth": 4,
	"svelteBracketNewLine": false,
	"svelteSortOrder": "options-scripts-styles-markup",
	"endOfLine": "auto"
}
